<section class="best-sellers-section">
  <div class="best-sellers-container">

    <h2 class="best-sellers-title">Best Sellers</h2>

    <owl-carousel-o [options]="carouselOptions">

      <ng-container *ngFor="let product of products">

        <ng-template carouselSlide>

          <div class="slide-content">

            <!-- صورة العلبة -->
            <div class="product-image pack">
              <img [src]="product.packImage" alt="pack" />
            </div>

            <!-- loose img + hover -->
            <div class="product-image loose">
              <img
                class="loose-img"
                [src]="product.looseImage"
                (mouseenter)="looseImg.src = product.hoverImage"
                (mouseleave)="looseImg.src = product.looseImage"
                #looseImg
              />
              
              <div class="product-info">
                <h3 class="product-name">{{ product.name }}</h3>
                <p class="product-price">LE {{ product.price }}</p>
                <button class="shop-btn">SHOP NOW</button>
              </div>
            </div>

          </div>

        </ng-template>

      </ng-container>

    </owl-carousel-o>

  </div>
</section>
