.best-sellers-section {
  background: #f4e6d5;
  padding: 70px 0;
}

.best-sellers-container {
  text-align: center;
  width: 75%;
}

.best-sellers-title {
  font-size: 18px;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.product-image img {
  width: 250px;
  transition: .3s ease;
}

.product-image.loose img {
  width: 230px;
  height: 230px;
  object-fit: contain;
}

.product-name {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.product-price {
  font-size: 11px;
  margin: 5px 0 10px;
}

.shop-btn {
  padding: 6px 20px;
  font-size: 10px;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
}

/* nav arrows */
.owl-nav button {
  background: #0a4035 !important;
  color: #fff !important;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 22px !important;
}

.owl-dots .owl-dot span {
  background: rgba(0, 0, 0, 0.3) !important;
}

.owl-dots .owl-dot.active span {
  background: #000 !important;
}




@media (max-width : 768px) {
  .best-sellers-container {
    width: 90%;
  }


  .pack {
    width: 40%;
    // background-color: #0a4035;

    img {
      width: 100%;
    }
  }

  .loose {
    width: 40%;
    // background-color: #0a4035;

    .loose-img {
      width: 100% !important;
    }
  }

}

