<section class="about-page">

    <!-- شريط العنوان -->
    <div class="title">
        <h2 class="mb-0">ABOUT THE BRAND AND FOUNDER</h2>
    </div>

    <div class="container pb-4">
        <!-- سكشن البراند والفاوندر -->
        <section class="brand-founder container align-items-center">

            <div class="brand-left">
                <div class="logo-box">
                    <img src="../../../assets/story/2 3.png" alt="T4TEA Logo" />
                </div>

                <p class="intro-text ">
                    T4TEA was created with one simple idea: tea should feel exciting again.
                    Blending tradition with modern taste, the brand brings a fresh perspective
                    to how people enjoy tea today.
                </p>
            </div>

            <div class="brand-right px-md-5">
                <p>
                    T4TEA is more than just a beverage brand it is a modern tea experience crafted for a new generation.
                    Built on the belief that tea can be both traditional and boldly innovative, T4TEA blends
                    authenticity with creativity to deliver flavors that resonate with today’s lifestyle.
                    
                </p>

                <p>
                    Founded with a clear mission: to reconnect people with the culture of tea, but in a fresh,
                    accessible, and exciting way. Every product is designed to offer quality, comfort, and a moment of
                    enjoyment in a fast paced world.
                </p>
            </div>

        </section>

        <!-- سكشن لماذا تختارنا -->
        <section class="why-choose my-5">
            <h3>WHY YOU CHOOSE T4TEA</h3>

            <img src="../../../assets/ART LAST 1.png" alt="">

            <!-- <div class="icons-row">
      <div class="icon-card">
        <img src="assets/t4tea/icons/icon1.png" alt="Icon 1">
      </div>
      <div class="icon-card">
        <img src="assets/t4tea/icons/icon2.png" alt="Icon 2">
      </div>
      <div class="icon-card">
        <img src="assets/t4tea/icons/icon3.png" alt="Icon 3">
      </div>
      <div class="icon-card">
        <img src="assets/t4tea/icons/icon4.png" alt="Icon 4">
      </div>
    </div> -->
        </section>

        <!-- سكشن النص السفلي -->
        <section class="bottom-text px-5">
            <p>
                Crafted with precision and passion, every T4TEA blend is made using
                hand-selected ingredients and refined brewing techniques. A celebration of
                authenticity, purity, and craftsmanship in every sip.
            </p>

            <p>
                The creative element of these exceptional blends is the unique pairing of
                fine ingredients. The flavors, undertones and carefuIly matched notes make a
                well-balanced blend, and meet the Celeste vision.
            </p>
        </section>
    </div>

</section>