<footer class="t4-footer">
  <div class="t4-footer__container">

    <!-- About -->
    <div class="t4-footer__col">
      <h3 class="t4-footer__title">About</h3>
      <p class="t4-footer__text">
        Celes-Té was founded with a vision: to bring the luxury of
        Artisanal Tea to everyday life by Anubha Jhawar, a
        certified Tea Sommelier from the UK Tea Academy, London.
        The story begins in the heart of India, amidst beautiful tea
        gardens, where she discovered the art of crafting the
        perfect tea blend.
      </p>
      <p class="t4-footer__text">
        Celes-Té was founded with a vision: to bring the luxury of
        Artisanal Tea to everyday life by Anubha Jhawar, a
        certified Tea Sommelier from the UK Tea Academy, London.
        The story begins in the heart of India, amidst beautiful tea
        gardens, where she discovered the art of crafting the
        perfect tea blend.
      </p>
    </div>

    <!-- Important links -->
    <div class="t4-footer__col ">
      <h3 class="t4-footer__title">
        important links
      </h3>
      <ul class="t4-footer__list">
        <li class="mb-0"><a href="#">About Us</a></li>
        <li class="mb-0"><a href="#">Contact us</a></li>
        <li class="mb-0"><a href="#">FAQs</a></li>
        <li class="mb-0"><a href="#">Privacy Policy</a></li>
        <li class="mb-0"><a href="#">Shipping &amp; Replacement Policy</a></li>
        <li class="mb-0"><a href="#">Terms &amp; Conditions</a></li>
        <li class="mb-0"><a href="#">Media</a></li>
        <li class="mb-0"><a href="#">Sitemap</a></li>
        <li class="mb-0"><a href="#">Press</a></li>
      </ul>
    </div>

    <!-- Shop -->
    <div class="t4-footer__col">
      <h3 class="t4-footer__title ">
        SHOP
      </h3>
      <ul class="t4-footer__list">
        <li class="mb-0"><a href="#">Shop</a></li>
        <li class="mb-0"><a href="#">Artisanal Blends</a></li>
        <li class="mb-0"><a href="#">Chai</a></li>
        <li class="mb-0"><a href="#">Gifts</a></li>
        <li class="mb-0"><a href="#">Teaware</a></li>
        <li class="mb-0"><a href="#">Blog</a></li>
      </ul>
    </div>

  </div>
</footer>
