<!-- navbar.component.html -->
<nav class="t4-navbar">
  <div class="t4-navbar__top">
    <div class="t4-navbar__logo mb-2" routerLink="/">
      <img src="../../../assets/Untitled-1-01 (4).png" alt="T4 Tea">
    </div>

    <button class="t4-navbar__toggle" (click)="isOpen = !isOpen">
      ☰
    </button>
  </div>

  <ul class="t4-navbar__links" [ngClass]="{ 'is-open': isOpen }">
    <li><a routerLink="/shop" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">SHOP</a></li>
    <li><a routerLink="/wellness" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">WELLNESS</a> </li>
    <li><a routerLink="/teaware" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">TEAWARE</a></li>
    <li><a routerLink="/gifts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">GIFTS</a></li>
    <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">ABOUT US</a></li>
    <li><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">CONTACT US</a>
    </li>
  </ul>
</nav>