.t4-navbar {
    padding: 16px 32px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #00332f;
}

.t4-navbar__top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* اللوجو */
.t4-navbar__logo img {
    height: 70px;
    /* عدّل المقاس اللي يعجبك */
    object-fit: contain;
}

/* زر الموبايل (مخفي على الديسكتوب) */
.t4-navbar__toggle {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: none;
    /* يظهر بس على الشاشات الصغيرة */
}

/* اللينكات */
// .t4-navbar__links {
//   list-style: none;
//   padding: 12px 0 0;
//   margin: 0;
//   display: flex;
//   justify-content: center;
//   gap: 40px;
//   font-family: Arial, sans-serif;
//   font-size: 14px;
//   letter-spacing: 0.12em;
// }




.t4-navbar__links {
    list-style: none;
    padding: 12px 0 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.12em;
}



.t4-navbar__links a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
}

.t4-navbar__links a:hover {
    text-decoration: underline;
}

/* === موبايل / تابلت === */
@media (max-width: 768px) {
    .t4-navbar {
        padding: 12px 16px;
    }

    .t4-navbar__top {
        justify-content: center;
    }

    .t4-navbar__toggle {
        display: block;
    }

    //   .t4-navbar__links {
    //     flex-direction: column;
    //     align-items: center;
    //     gap: 16px;
    //     display: none;           /* مخفي افتراضياً */
    //   }

    //   .t4-navbar__links.is-open {
    //     display: flex;           /* يظهر لما نضيف الكلاس */
    //   }




    .t4-navbar__links {
        flex-direction: column;
        align-items: center;
        gap: 16px;

        /* Animation */
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.8s 0s ease-in-out, opacity 0.8s 0s ease-in-out;
    }

    /* عند الفتح */
    .t4-navbar__links.is-open {
        max-height: 500px;
        /* أكبر من محتوى اللينكات */
        opacity: 1;
    }
}
























/* اللينكات (ديسكتوب) */