<section class="story-section">
  <div class="story-container">

    <h2 class="story-title">The Story of T4T</h2>

    <div class="story-content align-items-center">

      <!-- الصورة -->
      <div class="story-image ">
        <img src="../../../../assets/story/2 3.png" alt="Tea Garden Image">
      </div>

      <!-- النص -->
      <div class="story-text">
        <p>
          Celes-Té was founded with a vision: to bring the luxury of Artisanal Tea to everyday life
          by Anubha Jhawar, a certified Tea Sommelier from the UK Tea Academy, London.
          <br><br>
          The story begins in the heart of India, amidst beautiful tea gardens, where she discovered
          the art of crafting the perfect tea blend.
        </p>

        <p>
          Celes-Té was founded with a vision: to bring the luxury of Artisanal Tea to everyday life
          by Anubha Jhawar, a certified Tea Sommelier from the UK Tea Academy, London.
          <br><br>
          The story begins in the heart of India, amidst beautiful tea gardens, where she discovered
          the art of crafting the perfect tea blend.
        </p>
      </div>

    </div>
  </div>
</section>
