<!-- <section class="gallery-section ">
    <div class="gallery-container ">
        <div class="gallery-grid">
            <div class="gallery-item p-2">
                <img src="../../../../assets/hero/6Q1A2201 1.png" alt="Tea Image 2">
            </div>
            <div class="gallery-item p-2">
                <img src="../../../../assets/hero/6Q1A2142 1.png" alt="Tea Image 1">
            </div>
            <div class="gallery-item p-2">
                <img src="../../../../assets/hero/6Q1A2356 1.png" alt="Tea Image 3">
            </div>
        </div>
    </div>
</section> -->







<div class="parent">
    <section class="hero-gallery py-5">
        <div class="hero-grid">
            <img src="../../../../assets/hero/6Q1A2201 1.png" alt="Tea 1">
            <img src="../../../../assets/hero/6Q1A2142 1.png" alt="Tea 2">
            <img src="../../../../assets/hero/6Q1A2356 1.png" alt="Tea 3">
        </div>
    </section>
</div>