<div class="login-page py-5">
  <div class="login-box">
    <h1 class="title">LOGIN</h1>

    <a class="subtitle" >
      Enter your email and password to login
    </a>

    <form>
      <!-- Email -->
      <div class="input-group">
        <input type="email" placeholder="E-mail" />
      </div>

      <!-- Password + Forgot -->
      <div class="input-group password-group">
        <input type="password" placeholder="Password" />
        <a href="#" class="forgot-link">Forgot your password?</a>
      </div>

      <!-- Button -->
      <button type="submit" class="login-btn">
        LOGIN
      </button>
    </form>

    <p class="footer-text">
      Don't have an account?
      <a href="#" class="signup-link">Sign up</a>
    </p>
  </div>
</div>
