<section class="tea-section">
  <div class="container">

    <p class="tea-subtitle">PREMIUM ARTISANAL TEA BLENDS</p>

    <!-- الجزء اللي فوق: أسماء الكاتيجوري -->
    <div class="tea-tabs overflow-hidden">
      <button *ngFor="let cat of categories" class="tea-tab" (click)="selectCategory(cat)"
        [class.active]="cat.id === selectedCategory.id">
        {{ cat.title }}
      </button>
    </div>

    <!-- المنتجات اللي بتتغير حسب الـ category -->
    <div class="tea-carousel">
      <owl-carousel-o [options]="teaCarouselOptions">

        <ng-container *ngFor="let product of selectedCategory.products">
          <ng-template carouselSlide>
            <div class="tea-card">

              <div class="tea-image-wrap">
                <!-- الصورة الأساسية -->
                <img class="tea-img main" [src]="product.image" [alt]="product.name" />

                <!-- صورة الهوفر -->
                <img class="tea-img hover" *ngIf="product.hoverImage" [src]="product.hoverImage"
                  [alt]="product.name + ' hover'" />
              </div>

              <div class="tea-info">
                <p class="tea-name">{{ product.name }}</p>
                <p class="tea-price">LE {{ product.price }} EGP</p>
              </div>

            </div>
          </ng-template>
        </ng-container>

      </owl-carousel-o>
    </div>


    <div class="tea-actions">
      <a href="#" class="btn-view-all">VIEW ALL</a>
    </div>
  </div>
</section>


