.title{
    height: 10vh;

    text-align: center;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
}














/* ===== TEAWARE SECTION ===== */
.teaware-section {
  background-color: #f4e6d5;
  padding: 70px 0;
  font-family: Arial, sans-serif;
}

.teaware-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}

.teaware-subtitle {
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
  opacity: 0.8;
}

.teaware-title {
  font-size: 32px;
  letter-spacing: 6px;
  margin-bottom: 40px;
}

/* GRID */
// .teaware-grid {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   gap: 25px;
// }

/* CARD */
.teaware-card {
  text-align: center;
}

.teaware-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.teaware-card-title {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
}

.teaware-price {
  font-size: 11px;
  margin-top: 5px;
}

/* VIEW ALL BUTTON */
.teaware-actions {
  margin-top: 40px;
}

.btn-view-all {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 35px;
  font-size: 11px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.btn-view-all:hover {
  background-color: #000;
  color: #f4e6d5;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
//   .teaware-grid {
//     grid-template-columns: repeat(2, 1fr);
//     gap: 30px;
//   }
}

@media (max-width: 600px) {
//   .teaware-grid {
//     grid-template-columns: 1fr;
//   }
}
