

    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="d-flex flex-column justify-content-center align-items-center p-4 text-center">
            <img src="../../../assets/logo-removebg-preview.png" alt="Bubble Hope Logo" class="logo">

            <p class="message">
                Our website is undergoing updates and maintenance at the moment.
            </p>

            <div class="spinner-border text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
