.owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;        /* الكليك مقفول على الكونتينر */
    z-index: 2 !important;
}

.owl-nav .owl-next,
.owl-nav .owl-prev {
    background: #052D29 !important;
    width: 40px !important;
    height: 40px !important;
    font-size: 20px !important;  /* خليه أصغر شويه عشان يدخل جوه الدايرة حلو */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 50% !important;
    pointer-events: auto !important;  /* هنا الكليك شغّال */
    color: #fff !important;
    border: none !important;
}


@media (max-width:768px) {
    .owl-nav{
        display: none;
    }
}

